/* Keep the overlay as is */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.cdk-overlay-container {
  z-index: 1000 !important;
}
.mat-datepicker-content {
  background: white !important;
  border-radius: 12px;
}
::ng-deep .custom-date .mat-mdc-text-field-wrapper {
  border-radius: 0.75rem;
}

::ng-deep .custom-date .mdc-notched-outline {
  border-color: #d1d5db;
}

::ng-deep .custom-date.mat-focused .mdc-notched-outline {
  border-color: #fb923c !important;
}
