<section class="px-4 py-4 space-y-2">
  <button
    class="flex items-center gap-3 text-orange-500 font-medium hover:text-orange-600"
    (click)="openAddTaskPopup()"
  >
    ➕ Add Task
  </button>

  <button class="flex items-center gap-3 text-gray-600 hover:text-black">🔍 Search Tasks</button>

  <button class="flex items-center gap-3 text-gray-600 hover:text-black">📅 Upcoming</button>

  <button class="flex items-center gap-3 text-gray-600 hover:text-black">⚙ Filters & Labels</button>
</section>

<!-- Popup -->

@if (isAddTaskOpen) {
  <app-add-task-popup (closeDialog)="closeAddTaskPopup()"> </app-add-task-popup>
}
