<section class="tasks mt-4 flex flex-col gap-4">
  <h2 class="border-b border-gray-300">My Projects</h2>
  <div class="mt-4 border-b border-gray-100">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="peer sr-only" />

      <span
        class="h-5 w-5 rounded-full border-2 border-gray-400 flex items-center justify-center peer-checked:bg-green-600 peer-checked:border-green-600 transition"
      >
        <svg
          class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100 transition"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.704 5.29a1 1 0 010 1.42l-7.01 7.01a1 1 0 01-1.42 0L3.296 8.74a1 1 0 111.408-1.42l4.28 4.28 6.306-6.31a1 1 0 011.414 0z"
          />
        </svg>
      </span>
    </label>
    <span class="ml-2">Task completed</span>
  </div>
  <div class="mt-4 border-b border-gray-100">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="peer sr-only" />

      <span
        class="h-5 w-5 rounded-full border-2 border-gray-400 flex items-center justify-center peer-checked:bg-green-600 peer-checked:border-green-600 transition"
      >
        <svg
          class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100 transition"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.704 5.29a1 1 0 010 1.42l-7.01 7.01a1 1 0 01-1.42 0L3.296 8.74a1 1 0 111.408-1.42l4.28 4.28 6.306-6.31a1 1 0 011.414 0z"
          />
        </svg>
      </span>
    </label>
    <span class="ml-2">Task completed</span>
  </div>
  <div class="mt-4 border-b border-gray-100">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="peer sr-only" />

      <span
        class="h-5 w-5 rounded-full border-2 border-gray-400 flex items-center justify-center peer-checked:bg-green-600 peer-checked:border-green-600 transition"
      >
        <svg
          class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100 transition"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.704 5.29a1 1 0 010 1.42l-7.01 7.01a1 1 0 01-1.42 0L3.296 8.74a1 1 0 111.408-1.42l4.28 4.28 6.306-6.31a1 1 0 011.414 0z"
          />
        </svg>
      </span>
    </label>
    <span class="ml-2">Task completed</span>
  </div>
  <div class="mt-4 border-b border-gray-100">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="peer sr-only" />

      <span
        class="h-5 w-5 rounded-full border-2 border-gray-400 flex items-center justify-center peer-checked:bg-green-600 peer-checked:border-green-600 transition"
      >
        <svg
          class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100 transition"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.704 5.29a1 1 0 010 1.42l-7.01 7.01a1 1 0 01-1.42 0L3.296 8.74a1 1 0 111.408-1.42l4.28 4.28 6.306-6.31a1 1 0 011.414 0z"
          />
        </svg>
      </span>
    </label>
    <span class="ml-2">Task completed</span>
  </div>
  <div class="mt-4 border-b border-gray-100">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="peer sr-only" />

      <span
        class="h-5 w-5 rounded-full border-2 border-gray-400 flex items-center justify-center peer-checked:bg-green-600 peer-checked:border-green-600 transition"
      >
        <svg
          class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100 transition"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.704 5.29a1 1 0 010 1.42l-7.01 7.01a1 1 0 01-1.42 0L3.296 8.74a1 1 0 111.408-1.42l4.28 4.28 6.306-6.31a1 1 0 011.414 0z"
          />
        </svg>
      </span>
    </label>
    <span class="ml-2">Task completed</span>
  </div>

  <div class="add-task flex items-center opacity-65">
    <span class="text-amber-400 text-4xl mr-2">+</span>Add Task
  </div>
</section>
